<h1>Blog Posts</h1>
<div class="container">
  <table class="table table-bordered table-hover table-striped" *ngIf="isLoaded">
    <tr>
        <th>SR No.</th>
      <th>Publisher</th>
      <th>F2F_URL</th>
      <th>Title</th>
      <th>Source_URL</th>
      <th>Recipe_ID</th>
      <th>Image_URL</th>
      <th>Social_Rank</th>
      <th>Publisher_URL</th>
    </tr>
    <tr *ngFor="let key of keys">
      <td> {{key+1}}</td>
      <td *ngFor="let recipekey of recipekeys">
        {{ restItems[key][recipekey]}}
      </td>
    </tr>
  </table>
</div>